{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      {% include 'widgets/style-head.html' %}
    </head>
<body>
{% include 'widgets/navbar.html' %}
    <button class="scroll-btn"><i class="fa-solid fa-arrow-up"></i></button>

  <div class="container p-5 my-5 shadow-lg rounded-3 bg-white">
    <div class="row align-items-center">
      <img src="{% static 'images/edit-profile.jpg' %}" class="col-6" width="300"/>
      <div class="col-6 pb-5">
        <form method="post"  enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}
          <button type="submit" class="btn btn-primary">Submit Change</button>
          <!-- <a href="" class="btn btn-outline-danger mt-4">Change Password</a> -->
        </form>
      </div>
    </div>
  </div>
{% include 'widgets/footer.html' %}
{% include 'widgets/script-body.html' %}
<script>
    selects= document.querySelectorAll('select')
    
    for (var d =0; d < selects.length; d++){
      selects[d].classList.add('form-control')
  }
</script>
</body>
</html>