{% load static %}
<div class="trusted-clients">
    <div class="container">
      <h2>Trusted Clients</h2>
      <div class="row">
        <div class="col-lg-2 col-4"><img src="{% static 'images/trusted1.png' %}"></div>
        <div class="col-lg-2 col-4"><img src="{% static 'images/trusted2.png' %}"></div>
        <div class="col-lg-2 col-4"><img src="{% static 'images/trusted3.png' %}"></div>
        <div class="col-lg-2 col-4"><img src="{% static 'images/trusted4.png' %}"></div>
        <div class="col-lg-2 col-4"><img src="{% static 'images/trusted5.png' %}"></div>
        <div class="col-lg-2 col-4"><img src="{% static 'images/trusted6.png' %}"></div>
      </div>
    </div>
  </div>